@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
@font-face {
  font-family: 'bronco';
  src: url('../public/fonts/fonts/BroncoPersonalUse.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
